<% content_for(:title) do %>Detalles<% end %>
<% content_for(:primary_command) do %>
<%= link_to '', permissions_path, class: 'btn btn-danger glyphicon glyphicon-arrow-left' %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Controller:</b>
  <%= @permission.controller %>
</p>

<p>
  <b>Action:</b>
  <%= @permission.action %>
</p>

<p>
  <b>Key:</b>
  <%= @permission.key %>
</p>

<p>
  <b>Description:</b>
  <%= @permission.description %>
</p>
